# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temporary build directories
src/build/*

# Copied binary in bin/
bin/forogue

# XCode project settings and other crap
