# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temporary build directories and files
src/build/*
*~.nib

# OSX folder metadata
*.DS_Store

# vim swapfiles for open files
*.swp

# Copied binary in bin/
bin/forogue

# dumped debug data
bin/edgedump.txt
bin/leveldump.txt
bin/visdump.txt
bin/worlddump.txt
